.containerEditCustomer {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../media/backgrounds/2_tiny.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 50%;
  background-color: #f0f8ffee;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, .4);
  height: 70vh;
}