.Client-Card{
  display: flex;
  border-bottom: 1px solid #88888844;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
}


.Client-Interactions{

}

.DefaultLinkStyles{
  text-decoration: none;
}