.graphicsContainer {
  border-bottom: 2px solid #aaaaaa66;
  /* border: 2px solid #aaaaaa66; */
  height: 100px;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: relative;
}

.svgContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 2px solid; */
  overflow: hidden;
}

.variation {
  color: #91512d;
  /* width:1px; */
  font-size: 12px;
}

@media screen and (max-width: 650px){
  .variation {
    position: absolute;
    /* left: 0; */
    top: -15px;
  }
}