.cityNameContainer {
  /* border: 2px solid; */
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.weatherday {
  font-size: 22px;
  color: #e0bd20;
  font-weight: 100;
}

.cityName {
  font-size: 64px;
  color: #31419f;

}

.complementName {
  font-size: 28px;
  color: #777;
  font-weight: 100;

}

@media screen and (max-width: 768px){
  .weatherday {
    font-size: 3vmax;
  }

  .cityName {
    /* font-size: 64px; */
    font-size: 8vmax;
  }

  .complementName {
    /* font-size: 28px; */
    font-size: 3.4vmax;
  }
}

@media screen and (max-width: 565px){
  .cityNameContainer {
    width: 100%;
    margin-bottom: 20px;
  }
  .weatherday {
    font-weight: 400;
  }
}
@media screen and (max-width: 425px){
  .complementName {
    /* font-size: 28px; */
    margin-bottom: 20px;
  }
}