.graphicsContainer {
  border-bottom: 2px solid #aaaaaa66;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 2px solid; */
  overflow: hidden;
}